<!DOCTYPE html>
<html>
<head>
    <title>Activated!</title>
    <meta charset="UTF-8" />

    <style type="text/css">
        * { font-family: Verdana, Arial, sans-serif; }
        body { background-color: #fff; cursor: default; }
        h1 { font-size: 15pt; }
        p { font-size: 10pt; }
    </style>
</head>

<body>
<h1>Successful Activation</h1>
<a href="/"><p>Click here to log in</p></a>
</body>
</html>