<% include partials/header %>
  <div id="all">
       <div class="section" id="profile-body">

<h1>Put a Pin in it!</h1>
<h2>Something just ain't right</h2>
<pre>Let's backtrack...</pre>

</div>

<% include partials/footer %>
