<% include partials/header%>
<% include partials/forms/registerPopUp %>

    <!-- Added external script for validation-->
    <!--<script src="validateRegister.js"></script>-->

    <div id="all">
        <div class="section" id="profile-body">
            <div class="container">
                <% if(typeof message != 'undefined'){ %>
                    <h3>
                        <%= message %>
                    </h3>
                    <% } %>
                       
                            <h5>User Password Recovery</h5>
                            <!-- Added onsubmit event, linked to external JS file-->
                            <p id="error"></p>
                            <form class="needs-validation" onsubmit="event.preventDefault(); checkMatch();" novalidate>

                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter username">
                                    <div class="invalid-feedback">
                                        Username Needed!
                                    </div>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>

                                <div class="form-group">
                                    <label for="NewPassword1">Password</label>
                                    <input type="password" class="form-control" id="NewPassword1" name="NewPassword1" placeholder="Password" required>
                                    <div class="invalid-feedback">
                                        Enter password!
                                    </div>
                                </div>
                                
                                 <div class="form-group">
                                    <label for="NewPassword2">Re-enter Password</label>
                                    <input type="password" class="form-control" id="NewPassword2" name="NewPassword2" placeholder="Reenter Password" required>
                                    <div class="invalid-feedback">
                                        Enter password!
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">Reset Password</button>
                            </form>
                            
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://d1t99vwu1x3ov2.cloudfront.net/javascripts/profile-behavior.js"></script>


    <% include partials/footer %>
